[2018-11-13 19:25] yidong72 opened #72 "dask-setup.sh cannot be used to setup multi-nodes environment"
## Reporting a bug

I ran into some issues of setting up multi-node dask environments with the included dask-setup.sh script in the container (nvcr.io/nvidia/rapidsai/rapidsai:ubuntu1604_cuda92_py35). dask-setup.sh file is located at /rapids/utils/ inside the container. I checked the dask-setup.sh file and found workers are registered by the following command:
[code]
where ${MY_IPADDR} is defined

[2019-02-13 15:05] rlratzel opened #1 "[FEA] Add a table-style description of dependencies to install"
**Is your feature request related to a problem? Please describe.**
Users would like to specify the versions of dependencies (libs, tools, etc.) being installed and/or built with in a table, similar to [this](https://github.com/rapidsai/cudf#customizing-the-build). The same table could be output to users to show a summary of what the build contains. The table could be provided as a file of some sor

[2019-02-13 15:28] rlratzel opened #2 "[FEA] Allow for builds that contain only specific RAPIDS components"
**Is your feature request related to a problem? Please describe.**
All builds done by rapidstool.sh include every RAPIDS component, when many use cases (mainly dev builds) only require one or two. Builds for specific RAPIDS components like this are done by one-off scripts or Dockerfiles provided by the components. Ideally, rapidstool.sh replaces these and provides a consistent way to build any RAP

[2019-02-19 20:31] rlratzel opened #3 "[FEA] Allow a user to specify specific versions of RAPIDS components"
**Is your feature request related to a problem? Please describe.**
rapidstool.sh should allow a user to build a container (and/or a baremetal build eventually) for only a specific RAPIDS component, and a specific version.  This will allow the tool to support the use case common to RAPIDS component devs.

**Describe the solution you'd like**
A config file or CLI arg (or both) which lets a user spec

[2019-02-19 20:38] rlratzel opened #4 "[FEA] Add support for doing bare-metal builds"
**Is your feature request related to a problem? Please describe.**
Users should be able to use the same rapidstool.sh script to do a local bare-metal build just as they do for container builds.  This will provide additional build consistency for more build types.

**Describe the solution you'd like**
rapidstool.sh could generate a build.sh script in a similar way to how it generates a Dockerfile.

[2019-02-21 19:50] taureandyernv opened #5 "[DOC] Add explicitly how to start rapids conda environment"
README.md should include a line that says

Once you start your custom built container, run this script to start the rapids conda environment
```source activate rapids```

[2019-03-07 19:17] #4 closed, assigned to rlratzel

[2019-03-07 19:20] #3 closed, assigned to rlratzel

[2019-03-07 19:22] #1 closed, assigned to rlratzel

[2019-03-08 19:47] rlratzel opened #6 "[FEA] Add an option to squash for buildDockerImage"
**Is your feature request related to a problem? Please describe.**
I'd like to take advantage of fine-grained caching when building Docker images, but I don't want all the layers.

**Describe the solution you'd like**
Simply add an option to squash or not to the config file.

**Describe alternatives you've considered**
This came up specifically around the RAPIDS build steps in the Dockerfile, and

[2019-03-08 19:53] rlratzel opened #7 "[FEA] Make it easier to customize the install step for local builds"
**Is your feature request related to a problem? Please describe.**
Builds performed by build.sh install to a specific location, but some use cases require alternate locations.

**Describe the solution you'd like**
An option to allow users to customize install locations without editing build.sh or even build.sh.template.

**Describe alternatives you've considered**
Documenting how a user can edit t

[2019-03-08 20:02] rlratzel opened #8 "[DOC] Update README.md to include description of clone step, and others"
## Report needed documentation

**Report needed documentation**
buildDockerImage automates several steps which are not included in the help text (which is intended to be the primary source of documentation) including cloning the RAPIDS sources from github. Not every step needs to be documented, but the clone step is important enough that it should be.

**Describe the documentation you'd like**
Des

[2019-03-08 20:31] rlratzel opened #9 "[DOC] README.md needs to include examples"
## Report needed documentation

**Report needed documentation**
README.md needs to add a section containing common examples with descriptions of what they do.  Without these, users may have a harder time understanding what command and/or option they should use.

**Describe the documentation you'd like**
A section in README.md, possibly just called "examples", that describes at least the following:

[2019-03-08 20:36] rlratzel opened #10 "[DOC] Add developer documentation"
## Report needed documentation

**Report needed documentation**
There's currently no developer documentation. A new maintainer of the build repo will have to reverse engineer the sources in order to maintain them, which is not ideal and error prone.

**Describe the documentation you'd like**
Either an addition to the toplevel README.md, or additional README.md files in different subdirs, or both d

[2019-03-08 21:44] rlratzel opened #11 "[FEA] Allow Docker build args to be passed from the rapidsdevtool.sh command line"
**Is your feature request related to a problem? Please describe.**
Jenkins jobs in particular need to be able to easily pass args to the docker build command (--build-arg, etc.), and at the moment the only way to do that is to generate the Dockerfile and run docker build manually.

**Describe the solution you'd like**
Add the ability to pass arbitrary options to docker build from the rapidsdevtool

[2019-03-08 22:20] rlratzel opened #12 "[FEA] rapidsdevtool.sh needs to warn users if RAPIDS dependencies are not being met"
**Is your feature request related to a problem? Please describe.**
Some RAPIDS components depend on others for build and test (cuML requires cuDF). If a user only selects cuML, they will get build errors unless cuDF is also available.

**Describe the solution you'd like**
rapidsdevtool.sh should print a warning, or error out, if dependencies are not being met. The tool could also have a flag to ig

[2019-03-08 22:25] #6 closed, assigned to rlratzel

[2019-03-08 22:38] #12 closed, assigned to rlratzel

[2019-03-12 22:40] rlratzel opened #13 "[FEA] Add interactive config file generator"
**Is your feature request related to a problem? Please describe.**
Some users may need to be guided more than others when it comes to configuring rapidsdevtool.sh, and the config file may not communicate exctly what needs to be changed for a particular use case well.

**Describe the solution you'd like**
Something like an interactive mode which "interviewed" a client and generated/updated the conf

[2019-03-13 17:44] rlratzel opened #14 "[FEA] rapidsdevtool.sh should print a warning when RAPIDS deps are not met"
**Is your feature request related to a problem? Please describe.**
Now that rapidsdevtool.sh allows users to specify which RAPIDS comps they want to build, there's a possibility a user could select a comp that needs a dep, and not also select the dep.  For example, selecting cuML but not cuDF.

**Describe the solution you'd like**
Have rapidsdevtool.sh simply print a warning that explains the miss

[2019-03-13 17:48] #2 closed, assigned to rlratzel

[2019-03-14 20:21] rlratzel opened #15 "[FEA] Add cugraph to default config (priority is for containers)"
**Is your feature request related to a problem? Please describe.**
Containers need cugraph. Everything else could also get it, but containers specifically need it.

**Describe the solution you'd like**
Add CUGRAPH_REPO/BRANCH to config, add build-cugraph.sh to utils, incorporate both accordingly.

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2019-03-25 21:23] raydouglass opened #18 "[BUG] Clone needs to use --remote"
https://github.com/rapidsai/build/blob/branch-0.6/templates/scripts/clone.sh.template#L31

The clone function should be updated to take a parameter of whether to update submodules to the tip of the branch using `--remote`.

All RAPIDs projects require `--remote` except for cuML.

[2019-04-23 15:21] rlratzel commented on #10
Updated to better describe the various subdirs and the code generators.

[2019-04-23 15:21] #10 closed

[2019-04-23 15:32] rlratzel commented on #8
Updated help text for the buildDockerImage command.

[2019-04-23 15:32] #8 closed

[2019-04-23 15:35] rlratzel commented on #5
Closing (at least for now) since we don't have plans for a FAQ at the moment, and it's not clear if a FAQ containing this info would be part of the build repo or something else.

[2019-04-23 15:35] #5 closed

[2019-04-23 16:45] rlratzel commented on #18
Fixed in build `branch-0.7`

[2019-04-23 16:45] #18 closed

[2019-04-23 17:03] rlratzel commented on #15
This is done in build `branch-0.7`

[2019-04-23 17:03] #15 closed

[2019-06-07 15:39] miguelangel opened #19 "[FEA] source activate rapids on docker entrypoint"
**Is your feature request related to a problem? Please describe.**
Hi,

I have noticed that RAPIDS container automatically activates rapids environment only running _docker run_ as _root_.

That is due to the fact that the _source activate rapids_ command is in a root startup script.

Might I suggest a different approach (invoking a script in the entry point)? That way, it would work with any user

[2019-06-11 19:34] datametrician commented on #19
@kkraus14 can we triage this and get a release target?

[2019-06-15 17:05] kkraus14 commented on #19
@rlratzel Is this something you could tackle?

[2019-06-15 17:18] rlratzel commented on #19
Yes, I'll take a look.

[2019-06-17 15:11] rlratzel opened #24 "[FEA] Remove cuda labels from conda channels"
**Is your feature request related to a problem? Please describe.**
This change keeps consistency between the Dockerfiles generated here and the conda installs done in gpuCI.

**Describe the solution you'd like**
Channel names consistent with those in the `.condarc` shown in this PR: https://github.com/rapidsai/gpuci-build-environment/pull/25

**Additional context**
https://github.com/rapidsai/gpuc

[2019-06-23 17:50] rlratzel commented on #19
I have something that works in my test environment. I'll close this when the next set of nightly containers has this.

[2019-06-23 18:48] miguelangel commented on #19
Awesome! Thank you @rlratzel!

[2019-06-24 17:14] rlratzel commented on #19
This should be working in the latest nightlies:

https://cloud.docker.com/u/rapidsai/repository/docker/rapidsai/rapidsai-nightly

[2019-06-24 17:14] #19 closed

[2019-07-03 00:48] #7 closed

[2019-07-25 09:13] jacobtomlinson opened #25 "[FEA] Add extra packages in docker entrypoint"
I would like to use the rapids docker image more interchangeable with the [dask docker image](https://github.com/dask/dask-docker).

**Describe the solution you'd like**
The dask image (along with others) implements an [entrypoint script](https://github.com/dask/dask-docker/blob/master/base/prepare.sh) which installs extra packages from environment variables (`EXTRA_APT_PACKAGES`, `EXTRA_CONDA_PAC

[2019-07-26 17:10] rlratzel commented on #11
This option isn't needed for the nightly Jenkins automation, and hasn't been needed for testing either. Any special options are usually just temporarily added to the relevant script directly, so it's not worth keeping this issue open.

[2019-07-26 17:10] #11 closed

[2019-07-30 16:26] rlratzel opened #26 "remove dask-cudf, dask-cuml, and dask-cugraph from images"
These repos have been basically merged with their respective components and are no longer needed. These should be removed from devel, base, and runtime images.

[2019-07-31 14:08] #26 closed

[2019-07-31 20:18] mluukkainen commented on #24
WIP patch here: https://github.com/rapidsai/build/pull/27

[2019-08-16 14:42] mike-wendt commented on #24
Given that we can build and use the containers with the changes in `branch-0.9` I think we should put this issue and #27 on the backlog and revisit after the release

[2019-08-28 21:13] efajardo-nv opened #30 "Jupyter conda install on base container removes RAPIDS"
When I conda install jupyter on any of the 0.9 `base` containers, all the RAPIDS libraries get removed. I didn't run into this with the nightly images. pip install jupyter works. Here's the error I see when I use `--freeze-installed`:

[code]

[2019-09-03 16:37] mluukkainen commented on #24
I moved this against branch-0.10 and images build. From my POV it could go in if the PR is still needed:

https://github.com/rapidsai/build/pull/27/files

[2019-09-04 20:24] #24 closed

[2019-09-10 16:30] rlratzel opened #35 "[FEA] Add cuSpatial repo/package to all Docker images"
This repo and corresponding conda package needs to be added to the appropriate Docker images:
https://github.com/rapidsai/cuspatial
https://anaconda.org/rapidsai-nightly/cuspatial

`devel` images will have the new repo added alongside the other repos in `/rapids` and will have it built and installed from sources (using standard `build.sh`)
* NOTE: the current `cuspatial` build process requires tha

[2019-09-10 20:53] mluukkainen commented on #35
I have patch ready but not fully tested. Base images both build and ubuntu-devel also builds. Verifying centos7-devel image now. Patch is here:

https://github.com/rapidsai/build/pull/36/files

[2019-09-11 13:48] #35 closed

[2019-09-11 13:49] rlratzel commented on #35
https://github.com/rapidsai/build/pull/36 has been merged.

[2019-09-13 18:55] rlratzel opened #38 "[FEA] add doc building tools to `devel` image"
The `devel` image should include doc building tools for at least two reasons:

* Devs may need to (should be?) building docs occasionally to ensure their changes are compatible with the current documentation, as well as to allow them to view docs that they may have modified. Much like the other dev tools in `devel`, this will help devs be more efficient.
* nightly doc building jobs use `devel` con

[2019-09-13 19:15] rlratzel commented on #38
This also needs to be added too:
[code]

[2019-09-13 20:43] rlratzel commented on #38
https://github.com/rapidsai/build/pull/39 has been merged.

[2019-09-13 20:43] #38 closed

[2019-10-24 08:45] bicubic opened #60 "Using rapidsai image with docker-compose?"
This seems to rely on `--runtime=nvidia` which is not supported in compose.

What is the recommended way to spin up this image with compose?

[2019-10-29 16:57] lmeyerov opened #42 "Feature request / regression: py3.7 in production docker releases to support BlazingSQL"
**Issue:**

Trying BlazingSQL via a container is difficult, and then going to it in production is difficult, because RAPIDS docker no longer has py3.7 and Blazing requires py3.7. This change happened about 2mo ago.

For new users, navigating dependencies is non-trivial, and for heavy users, the sizes involved make the process slow.

**Workaround**:

We created an interim container:

[code]

=> htt

[2019-11-11 20:46] miguelusque opened #48 "[BUG] pytables dependency not available in RAPIDS container"
**Describe the bug**
When trying to export to HDF5 file format, the following error is displayed:

[code]

**Steps/Code to reproduce bug**
[code]

Create a notebook with the following code:

[code]

**Expected behaviour**
The example DataFrame should be stored in an HDF5 file.

I think the issue is due that the container does not include pytables dependency.

Hope it helps!

[2019-11-19 15:30] mike-wendt commented on #42
What tag of this are you using? What you're describing isn't much different from what we do now.

[2019-11-19 21:43] lmeyerov commented on #42
`nvidia/cuda:10-runtime-ubuntu18.04`

We then do `g++, boost, ...` -> `miniconda` -> `python3.7`. I _think_ we can eliminate some of the buildessentials / g++ stuff, but am unsure about numba, and for some of our downstream python/node libs, if we can move their compilation to buildtime. So keeping for now.

[2019-11-22 14:56] jacobtomlinson opened #43 "[BUG] Dask and nvdashboard Jupyter Lab extentions are not working"
**Describe the bug**
When running the latest docker images the Dask and nvdashboard Jupyter Lab extensions do not display.

**Steps/Code to reproduce bug**

[code]

Then visit https://host:8888. Neither extensions will be available from the sidebar.

Running `conda upgrade jupyterlab` which updates to `1.2.3` and restarting Jupyter Lab seems to resolve this issue.

However once upgraded pynvml (ne

[2019-12-05 17:57] kkraus14 commented on #43
@jacobtomlinson are you running your docker container with the nvidia runtime? If you don't I imagine the nvml shared library won't necessarily be passed through as it's a part of the driver. You can try using `nvidia-smi` as a test.

[2019-12-06 13:14] jacobtomlinson commented on #43
Ah good point. I likely wasn't using that in this quick test.

However the primary issue of the packaged version of Jupyter Lab being too old for the extensions still stands.

[2019-12-12 15:03] rlratzel commented on #42
Releases now include both `py3.6` and `py3.7` versions of `base` and `runtime` Docker images:
https://hub.docker.com/repository/docker/rapidsai/rapidsai

[2019-12-12 15:03] #42 closed

[2019-12-16 04:09] miguelangel opened #45 "[FEA] Add jupyterlab-nvdashboard to docker runtime containers"
**Is your feature request related to a problem? Please describe.**
Hi,

I am not sure if this is the right place to add this Feature request.

I think it would be great to add the `jupyterlab-nvdashboard` extension to RAPIDS runtime containers.

More info here:
https://medium.com/rapids-ai/gpu-dashboards-in-jupyter-lab-757b17aae1d5

**Describe the solution you'd like**
To have jupyterlab-nvdashboa

[2019-12-16 17:27] jacobtomlinson commented on #45
It is already there but currently broken. See #43

[2019-12-16 17:34] miguelangel commented on #45
Awesome! Closing this issue because of duplicated with #43 .

[2019-12-16 17:34] #45 closed

[2019-12-16 17:58] ayushdg commented on #43
I have noticed this before and rebuilding Jupyter lab `jupyter lab build` and refreshing the page seemed to fix the issue.
Note: Tested with 0.11 nightly, jupyterlab version 1.0.7

[2019-12-16 20:45] jacobtomlinson commented on #43
Jupyter Lab will need to be >1.0 too I think

[2019-12-16 23:00] vilmara commented on #43
Hi all, I am using the docker image `rapidsai/rapidsai:0.10-cuda10.1-runtime-ubuntu18.04`, I thought NVDashborad was installed by default; however, in order to have the "GPU DASHBOARD" menu enable I needed to run the extra installation within the docker:
[code]

[2019-12-17 21:34] rlratzel commented on #43
@jacobtomlinson is there a preferred version of `jupyterlab` that should be used, or is it okay to just get the latest?

[2019-12-18 07:40] jacobtomlinson commented on #43
Anything recent and `>1.0` should be fine. Probably best to just go with latest. Thanks!

[2019-12-18 14:56] rlratzel commented on #43
I reproduced this locally, updated the Dockerfile(s) to unpin `jupyterlab` and get the latest compatible (`1.2.4` in this case), re-ran and saw the extensions working.

I've committed the changes (to `branch-0.12`) and the Docker images are rebuilding now.

[2019-12-18 14:56] #43 closed

[2019-12-18 15:14] jacobtomlinson commented on #43
Thanks @rlratzel!

[2019-12-18 15:22] rlratzel commented on #43
@jacobtomlinson I tested this interactively using jupyterlab and my browser - do you have any suggestions on how I might add a test to our nightly runs in order to catch problems like this sooner?

[2019-12-18 15:29] jacobtomlinson commented on #43
I can't think of a straight forward way of testing something like that. I'll ping some Jupyter folks for advice.

[2019-12-18 15:45] jacobtomlinson commented on #43
@ian-r-rose do you have any quick thoughts on how we could test that a JLab extension installed correctly? Something a little more automated than opening the browser and looking.

[2019-12-18 16:11] ian-r-rose commented on #43
Hmm, there is always `jupyter labextension list`, but that wouldn't necessarily catch runtime errors. If you really wanted to check that the extension shows up, you could try to open the page with something like Chrome headless/puppeteer and try to grab a DOM element from either of the extensions. I haven't really tried that though, so I don't know how easy it would be to set up.

[2019-12-19 06:43] jacobtomlinson commented on #43
Ok thanks @ian-r-rose !

[2020-01-10 22:22] mike-wendt opened #46 "[FEA] Generated Dockerfiles should be ready to use"
**Is your feature request related to a problem? Please describe.**
If I try to use any of the Dockerfiles in `/generatedDockerfiles` they are missing scripts and other items that are needed for the `COPY` commands. This was encountered when I was trying to quickly modify the generated file to test/update pandas version. However, I was unable to due to the missing files.

**Describe the solution yo

[2020-01-19 11:03] oscaranderssons opened #61 "Adding Requirement to rapidsai"
I am having issues adding python libraries to my docker file when I use rapidsai as the base image.
This is what my docker image looks like:

FROM rapidsai/rapidsai:cuda10.0-runtime-ubuntu18.04-py3.7
COPY * /ai/
WORKDIR /ai/

RUN python3 -m pip install --upgrade pip
RUN python3 -m pip install -r requirements.txt

CMD ["python3", "test.py"]

And my requirements.txt file looks like this:

kivy
beaut

[2020-02-06 17:44] boris-dee opened #62 "Cannot open Jupyter Notebooks in Docker installation"
Hi everyone,

I'm using the docker version of rapids. I have successfully pulled the image and run it. However, there's no jupyter notebook available. I tried to run `./utils/start_jupyter.sh` and I get this:

[code]
However, when I click on the http link, it doesn't reach anything. I feel that this has something to do with the fact that it says `The port 8888 is already in use, trying another por

[2020-03-26 15:20] arnoldrw opened #67 "[BUG] GPU Dashboards blank on dev container due to old jupyterlab-nvdashboard version"
**Describe the bug**
The current rapids nightly docker + dev container pulled with
docker pull rapidsai/rapidsai-dev:0.12-cuda10.0-devel-ubuntu18.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.12-cuda10.0-devel-ubuntu18.04-py3.7

I using an old version of jupyterlab-nvdashboard that causes the gpu dashboards to be blank.

Updating the v

[2020-04-05 22:25] SharplyUnclear opened #73 "[DOC] - Website configurator is incorrect"
## Report incorrect documentation
The configurator documentation at https://rapids.ai/start.html#get-rapids is no longer quite correct
These are tiny points, but might put a newcomer off:

Provide links and line numbers if applicable.
 https://rapids.ai/start.html#get-rapids

**Describe the problems or issues found in the documentation**
A clear and concise description of what you found to be inco

[2020-04-06 20:13] tomgreen66 opened #74 "[BUG] pytorch is not included even though its used by example notebook"
**Describe the bug**
When using the cusignal notebook from a docker container `/rapids/notebooks/cusignal/E2E_Example.ipynb` it tries to import torch which is not installed.

**Steps/Code to reproduce bug**
1. Run docker container `rapidsai_cuda10.1-runtime-centos7` within Singularity.
2. Start Jupyter server with `singularity run --nv rapidsai_cuda10.1-runtime-centos7.sif`
3. Access Jupyter on `l

[2020-05-29 09:09] vinayakbhadage opened #94 "[BUG] - Jupyter lab is not started after new release"
**Describe the bug**
Jupyter lab is not started after new release

**Steps/Code to reproduce bug**
We are using the https://github.com/rapidsai/helm-chart . it was working fine but  after new release it is not working. It was using  following images:
 image:
      repository: "rapidsai/rapidsai"
      tag: cuda10.0-runtime-ubuntu16.04
Start command is :
     - bash
      - '/rapids/notebooks/utils

[2020-06-02 14:26] mike-wendt opened #95 "[BUG] Docker images do not start the RAPIDS conda env when used with `docker exec`"
@rlratzel reported:

`docker run` to start an interactive bash shell, or to run an individual command, automatically executes in the `rapids` conda env.  However, when a container is started with `--detach` and has commands executed in it with `docker exec`, the commands do not run in the `rapids` conda env.

This affects jobs using the Jenkins Docker plugin.
The workaround is to issue a `source /

[2020-06-02 14:27] mike-wendt opened #96 "[FEA] Add info message to container entrypoint"
From @miguelangel :

More specifically, I have noticed that, from 0.9 container, a JupyterLab instance is executed when docker run the container.
That is very handy, but as a side effect, it took me a while to understand why local mapped folder was not visible anymore.
As a quick workaround, I have mapped my folder to /rapids/notebook, to make it visible to JupyterLab.

@rmccorm4 added:

[2020-06-26 20:56] jgerardsimcock opened #111 "[QST] Access NVIDA Runtime on JupyterHUB"
**What is your question?**

This is a general question regarding deploying GPU aware containers. Has the RapidsAI team deployed jupyterhub on their hardware in which single user notebooks were able to access GPUs? Or is the case, that engineers are operating from a single user notebook environment to access gpus and use rapids? I am trying to set up a hub on a dgx but spawning notebooks that can s

[2020-07-02 16:22] #111 closed

[2020-07-07 04:28] mike-wendt opened #120 "[ENH] Add info message about Jupyter notebook server to ENTRYPOINT"
https://github.com/rapidsai/docker/blob/23027b8b7b64d6f4f7441956b4facf6f3273bf46/context/.start_jupyter_run_in_rapids.sh#L3

After the line above, I think we should add some instructions for the user to let them know the notebook server has been started and how to access it. Let me know your thoughts on this.

[2020-07-07 04:30] mike-wendt commented on #46
This is done now with the recent changes merged in by #105

[2020-07-07 04:30] #46 closed

[2020-07-07 05:25] aleksficek commented on #120
+1 for this idea, at the very least knowing the notebook server has started can help in future debugging

[2020-07-07 14:42] ajschmidt8 commented on #120
agree!

[2020-07-07 22:44] aleksficek commented on #120
I'll take on this issue

[2020-07-09 19:25] rlratzel commented on #120
Here's a minor addition that could help docker users that don't know which ports need to be exposed:
[code]

[2020-07-09 20:42] aleksficek commented on #120
Great idea, I added it and made a new PR up for review https://github.com/rapidsai/docker/pull/124

[2020-07-13 13:34] #120 closed

[2020-07-18 06:43] MurrayData opened #136 "[FEA] Add openpyxl library to Docker containers to permit export as Excel via Pandas"
When writing the output of a cudf groupby query to Excel (via Pandas) I got the following:

[code]

As a workaround, I manually added openpyxl with:

[code]

Please can this Pandas dependency be added to future versions of the containers?

[2020-07-30 16:52] ajschmidt8 commented on #60
closing this issue as it appears to be resolved.

[2020-07-30 16:52] #60 closed

[2020-07-30 16:52] ajschmidt8 commented on #13
closing this issue as it no longer appears to be applicable

[2020-07-30 16:52] #13 closed

[2020-07-30 16:53] ajschmidt8 commented on #14
closing this issue as it no longer appears to be applicable

[2020-07-30 16:53] #14 closed

[2020-07-30 16:53] ajschmidt8 commented on #9
closing this issue as it no longer appears to be applicable

[2020-07-30 16:53] #9 closed

[2020-07-30 22:13] aleksficek commented on #96
I'll work on this, similar of an recent issue I fixed https://github.com/rapidsai/docker/pull/122

[2020-07-31 15:17] mike-wendt opened #131 "[BUG] Console indicates key usage when there is none"
Incorrect console message:
https://github.com/rapidsai/docker/blob/90dc35957998d16b1c2e3f85ab327c5cff766b4c/context/start_jupyter.sh#L4

Should match this:
https://github.com/rapidsai/docker/blob/90dc35957998d16b1c2e3f85ab327c5cff766b4c/context/start_jupyter.sh#L2

[2020-07-31 18:31] kkraus14 commented on #72
This is stale as we no longer rely on a script to setup the workers as far as I know.

[2020-07-31 18:31] #72 closed

[2020-08-03 14:48] #96 closed

[2020-08-03 15:51] jacobtomlinson opened #133 "[BUG] Jupyter cannot block and logs are sent to /dev/null"
**Describe the bug**

When working on the RAPIDS Helm Chart we have a pod which will be running Jupyter as a daemon. Ideally this pod would simply run Jupyter as the main blocking process.

The current config for the `runtime` image is for Jupyter to be run during the entrypoint with nohup and all stdout/stderr is sent to `/dev/null`.

The default command is `bash` which just exits if the containe

[2020-08-03 19:00] ajschmidt8 commented on #95
This issue seems to be resolved in #127. closing

[2020-08-03 19:00] #95 closed

[2020-08-03 19:05] #131 closed

[2020-08-04 20:59] ajschmidt8 commented on #61
@oscaranderssons, because of the [entrypoint](https://github.com/rapidsai/docker/blob/branch-0.15/generated-dockerfiles/ubuntu18.04-runtime.Dockerfile#L63) used in our Dockerfiles, all `docker run` commands are executed in a `conda` environment named `rapids`. Therefore, you'll need to make sure your `python` dependencies are installed in that environment instead of at the system level. I was able

[2020-08-05 14:03] ajschmidt8 commented on #61
closing this issue given the solution above.

[2020-08-05 14:03] #61 closed

[2020-08-05 15:09] ajschmidt8 commented on #25
@jacobtomlinson, we're currently going through these older issues to see what still needs to be addressed. I just wanted to confirm whether or not this feature request is still valid. Please let me know.

[2020-08-05 15:12] jacobtomlinson commented on #25
No problem, these things happen!

I think this would still be valuable for existing Dask users who are transitioning over to RAPIDS as they have come to expect this in the Dask images. It comes up from time to time.

[2020-08-05 15:16] jacobtomlinson commented on #133
Our current workaround is to override the entry point and command (via the `command:` option in Kubernetes) and the args.

We are basically running the command from `start_jupyter.sh` without nohup and backgrounding. But this is not ideal as any changes to `start_jupyter.sh` wouldn't be applied in the helm chart without a manual sync.

https://github.com/rapidsai/helm-chart/blob/48da21c0b37d73d4cf

[2020-08-06 18:20] kkraus14 commented on #48
I'm -1 on including this in the container. HDF5 isn't the most common format for DataFrames and if a user wants to work with them they can easily run a `conda install pytables` in order to get it.

[2020-08-06 18:55] miguelusque commented on #48
Hi @kkraus14 ,

My understanding of a container is that it is an isolated piece of software that runs as is, without any modification.

The user should do the dependency install, save a new version of the container, store it in a container repository...

Also, why this third party dependency cannot be in the container, while many others are?

Just trying to understand.

Regards,
Miguel

[2020-08-10 16:20] #133 closed

[2020-08-10 16:21] ajschmidt8 commented on #133
once the new nightlies are built, you can use the following `docker run` flag to enable `jupyter-lab` to run in the foreground: `-e JUPYTER_FG=true`

[2020-08-10 18:00] ajschmidt8 commented on #62
@boris-dee, can you confirm that this is still an issue? I'm not able to replicate it on my end. can you share the exact `docker run` command that you're using to run the container?

i.e.:
[code]

[2020-08-10 18:14] ajschmidt8 commented on #73
@SharplyUnclear, thank you for opening this issue. Previously, our Docker containers would start a `jupyter-lab` server in the background before dropping the user into a `bash` terminal. We've recently made some changes to make that more clear to our end-users (see screenshot below). Additionally, we've updated the documentation site to point to the correct directory, `/rapids/utils/start-jupyter.

[2020-08-10 18:14] #73 closed

[2020-08-10 19:51] jacobtomlinson commented on #133
Thanks @ajschmidt8

[2020-08-10 20:18] ajschmidt8 commented on #67
@arnoldrw, apologies for the late response here. it appears that our containers now have the latest version of `jupyterlab-nvdashboard` and therefore I was not able to replicate the issue at this time. I will close the issue now, but feel free to reply if you're still exhibiting the problem and we can open it back up.

[2020-08-10 20:18] #67 closed

[2020-08-10 20:27] ajschmidt8 commented on #94
@vinayakbhadage, apologies for the late reply here. can you confirm whether or not this is still an issue?

[2020-08-11 09:29] boris-dee commented on #62
@ajschmidt8, I started from scratch and just pulled the `rapidsai/rapidsai:cuda10.0-runtime-ubuntu18.04-py3.6` image.

Then:
[code]
From here nothing happens, so I opened manually my browser at the following address: `http://localhost:8888/` and jupyter opened correctly.

So I guess it works now. What is a bit disturbing is that there's no message whatsoever, as there usually is when opening jupyt

[2020-08-11 10:16] jacobtomlinson commented on #133
Sorry to say I'm seeing this error with the change.

[code]

[2020-08-11 16:16] ajschmidt8 commented on #62
@boris-dee, can you pull the latest image from Docker hub and try again? We recently added some console output to specify that a jupyter-server is running. See the screenshot below.

![image](https://user-images.githubusercontent.com/7400326/89922015-7b7fb600-dbcc-11ea-8584-c0c3f3f5608b.png)

[2020-08-11 16:17] ajschmidt8 commented on #62
@boris-dee, it looks like you pulled the latest stable version. If you pull the nightly, you should see the output above. This output will be in our next stable release.

[2020-08-11 16:18] ajschmidt8 commented on #62
Closing this issue since it seems to be resolved now, though feel free to open a new issue or reply here with any other questions.

[2020-08-11 16:18] #62 closed

[2020-08-13 17:35] msadang commented on #48
@miguelusque Did you still want to include the pytables dependancy?

[2020-08-13 17:47] miguelusque commented on #48
Hi @msadang ,

I’d say the question is if we should have included in RAPIDS containers the dependencies needed in order to be able use 100% of RAPIDS functionality out of the box.

This is not related to any customer/personal project, but something I noticed while performing some tests, and I thought it would be good to comment to you.

Hope it helps!

Regards,
Miguel

[2020-08-14 14:26] ajschmidt8 commented on #94
Closing issue due to no response from author.

[2020-08-14 14:26] #94 closed

[2020-08-18 04:09] miguelusque opened #146 "[BUG] Upgrade iphyton to version 7.7"
**Describe the bug**
Some NVIDIA DLIs make use of RAPIDS containers.

In those notebooks, they use the following code in order to terminate the Jupyter notebook, to release resources for the next notebook.

[code]

There is a known bug (https://github.com/ipython/ipython/issues/11646) when using that command in any version of ipython prior 7.7.

I have workarounded it by manually updating the ipyt

[2020-08-18 05:30] miguelusque commented on #146
Tested in 0.15, and already updated to the latest version. Thanks @kkraus14 !

[2020-08-18 05:30] #146 closed

[2020-08-18 22:19] bfeeny opened #147 "[BUG] cuGraph Force-Atlas2.ipynb can't execute, holoviews not installed in rapidsai:cuda10.2-runtime-ubuntu18.04, possibly others"
**Describe the bug**
holoviews not installed in rapidsai:cuda10.2-runtime-ubuntu18.04, possibly other builds.
The cuGraph Force-Atlas2.ipynb demo relies on this.

**Steps/Code to reproduce bug**
execute  /rapids/notebooks/cugraph/layout/Force-Atlas2.ipynb

**Expected behavior**
The demo should run with no errors, instead it produces:

[code]
**Environment details (please complete the following inf

[2020-09-09 07:54] Data-drone opened #157 "[BUG] Demonstration Notebook missing requirements"
**Describe the bug**
Periodicity_Detection requires s3fs which isn't included

**Steps/Code to reproduce bug**
Follow the Docker cuda setup commands then try to run the periodicity detection notebook

    docker pull rapidsai/rapidsai:cuda10.2-runtime-ubuntu18.04-py3.8
    docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
        rapidsai/rapidsai:cuda10.2-runtime-ubuntu18.04

[2020-09-09 18:15] peterableda opened #159 "Add Lincense file to the repo"
We are considering building on top of rapidsai Docker images but getting held back on license review. Can you upload a license file to this git repo? Cuda is using BSD 3-Clause licenses for its Dockerfile repo, can you use the same?
https://gitlab.com/nvidia/container-images/cuda/-/blob/master/LICENSE

[2020-09-10 14:51] ajschmidt8 commented on #159
@peterableda, thanks for pointing this out. Fixed in #161

[2020-09-10 14:51] #159 closed

[2020-09-17 14:37] ajschmidt8 opened #169 "[BUG] Default rapids user can't use yum"
**Describe the bug**
In the latest `rapidsai/rapidsai-nightly:0.16-cuda10.1-runtime-centos7-py3.7` image, `yum install vim` throws a permissions error as shown in the screenshot below.

![image](https://user-images.githubusercontent.com/7400326/93485876-8ca99a00-f8d1-11ea-9ec4-e88ed5350cf7.png)

[2020-09-17 14:38] ajschmidt8 commented on #169
whoops. I just had to use `sudo` 🤦 . closing

[2020-09-17 14:38] #169 closed

[2020-09-17 21:09] ajschmidt8 commented on #25
@jacobtomlinson, addressed in #170. Feel free to review!

[2020-09-21 17:39] #25 closed

[2020-09-21 17:53] ajschmidt8 commented on #48
@miguelusque, we recently merged #170, which enables `conda`, `pip`, `apt`, and `yum` packages to be installed via environment variables provided to the `docker run` command. Documentation can be found [here on DockerHub](https://hub.docker.com/r/rapidsai/rapidsai-nightly) under the `Usage` section.

I don't think we have plans to add `pytables` to the containers, but this should provide a conveni

[2020-09-21 17:53] #48 closed

[2020-09-21 17:54] ajschmidt8 commented on #136
@MurrayData , we recently merged #170, which enables `conda`, `pip`, `apt`, and `yum` packages to be installed via environment variables provided to the `docker run` command. Documentation can be found [here on DockerHub](https://hub.docker.com/r/rapidsai/rapidsai-nightly) under the `Usage` section.

I don't think we have plans to add `openpyxl ` to the containers, but this should provide a conven

[2020-09-21 17:54] #136 closed

[2020-09-22 09:22] miguelusque commented on #48
Hi @ajschmidt8 ,

Sure! It works for me. Thanks!

Just a quick doubt: Does the `EXTRA_CONDA_PACKAGES` allows adding packages from different conda channels?

Thanks!

Regards,
Miguel

[2020-09-22 13:50] ajschmidt8 commented on #48
@miguelusque, I will test different conda channels and let you know.

[2020-09-22 14:10] ajschmidt8 commented on #48
it looks like custom channels do work. your `docker run` command would look something like this, where `-c <channel>` is the custom channel:
`docker run ... -e EXTRA_CONDA_PACKAGES="-c ajschmidt rapids-pytest-benchmark" ...`

[2020-09-22 14:14] miguelusque commented on #48
That is outstanding. Thank you for double checking it!

[2020-09-28 17:46] ajschmidt8 commented on #74
@tomgreen66, thanks for bringing this to our attention and apologies for the late reply here. I'm told that we intentionally exclude PyTorch from our images due to its size. However, I just opened a PR to cusignal (https://github.com/rapidsai/cusignal/pull/242) to add both an explanation and a workaround for users who are running this Notebook in our containers.

closing this issue.

[2020-09-28 17:46] #74 closed

[2020-10-04 00:49] znmeb opened #174 "[DOC] Missing Usage Document for Ports"
## Report needed documentation

**Report needed documentation**
Reference: <https://hub.docker.com/r/rapidsai/rapidsai-dev>, `Usage` section

The running container exposes ports 8787 and 8786, according to the `Dockerfile`. And the `docker run` command binds those ports to `localhost`. But there's no information on how to use those ports. Is anything even listening on them? Are there servers on th

[2020-10-07 15:41] msadang commented on #157
Hi.  s3fs has been included in the repo.  This should close out this ticket.

[2020-10-07 15:41] #157 closed

[2020-10-07 15:42] msadang commented on #147
Hi.  holoviews has been included in the repo.  This should close out this ticket.

[2020-10-07 15:42] #147 closed

[2020-10-08 19:14] rlratzel opened #182 "[BUG] RAPIDS devel image has broken PATH for building RAPIDS libs (cannot find nvcc)"
If a user tries to run a typical build of a RAPIDS library (cugraph in my case) using a `devel` image, their build errors with this message:
[code]
I believe this may be just a matter of adding `/usr/local/cuda/bin` to the `PATH` for the "rapids" user, but I haven't confirmed.

[2020-10-12 15:04] ajschmidt8 opened #184 "[BUG] `rapids` user is causing permissions issues"
The `rapids` user is causing issues as outlined in the following thread: https://github.com/rapidsai/dask-cuda/issues/412.

[2020-10-14 18:20] ajschmidt8 commented on #184
`rapids` user has been removed in #186. closing issue

[2020-10-14 18:20] #184 closed

[2020-10-15 15:54] ajschmidt8 commented on #182
@rlratzel, this should be fixed in our latest images since we removed the `rapids` user and switched back to using the `root` user.

[2020-10-15 15:59] #182 closed

[2020-10-21 21:31] ajschmidt8 commented on #174
@znmeb, thank you for reporting this. The missing documentation has been added in #195 for release `0.16`. The DockerHub readmes will be updated once the release is complete.

Here's a list of all of the ports used by our `runtime` and `devel` containers:

- `8888` - exposes a [JupyterLab](https://jupyterlab.readthedocs.io/en/stable/) notebook server
- `8786` - exposes a [Dask](https://docs.dask.o

[2020-10-21 23:14] #174 closed

[2020-11-02 15:39] jacobtomlinson opened #205 "[FEA] Add AzureML dependencies to docker images"
**Is your feature request related to a problem? Please describe.**
Currently when using the RAPIDS docker images on AzureML there are errors due to `mpi4py` and `azureml-sdk` not being included which are requirements for AzureML.

**Describe the solution you'd like**
Add `mpi4py` via `conda` and `azureml-sdk` via `pip` (not currently on conda-forge) to the RAPIDS Docker images.

This adds ~650MB t

[2020-11-02 16:00] ajschmidt8 commented on #205
@jacobtomlinson, is this something that could be solved with the env variables introduced in #170 (`EXTRA_CONDA_PACKAGES` & `EXTRA_PIP_PACKAGES`)? We currently omit PyTorch from our images due to its large size, so I'm not sure we'd want to add other large packages either. And also maintaining more variations isn't ideal either.

[2020-11-02 17:32] jacobtomlinson commented on #205
Ah yes those env vars may be a solution! Let me try.

[2020-11-11 10:18] jacobtomlinson opened #210 "[BUG] ipywidgets do not display correctly in Jupyter Lab"
**Describe the bug**
ipywidgets do not display in Jupyter Lab in the runtime images.

**Steps/Code to reproduce bug**

Start runtime container
[code]

Open Jupyter Lab and start a new notebook.

Create a dask cluster.

[code]

![image](https://user-images.githubusercontent.com/1610850/98799209-baf5b280-2406-11eb-9aef-574a078f983c.png)

**Expected behavior**
The cluster widget is displayed.

**Addi

[2020-11-11 15:17] #210 closed

[2020-11-17 15:59] jacobtomlinson opened #214 "[BUG] Images are missing SSH"
**Describe the bug**

It is not possible to use SSH from within the RAPIDS container.

**Steps/Code to reproduce bug**

[code]

**Expected behavior**

SSH is a standard utility and should be available in the RAPIDS environment. Especially if the user needs to connect to external systems.

[2020-11-18 09:53] jacobtomlinson commented on #205
It seems that AzureML overrides the default entrypoint with a custom one. So our preparation script is never called and we can't use the `EXTRA_` options. I'm trying to see if I can override this option and set it back to our prepare script, but the config to get this working is getting a little unwieldy.

[2021-01-23 15:52] arlenis65 opened #253 "[QST] Docker image for use with SageMaker"
**What is your question?**
Hi. I'd like to use cuDF and maybe cuML with AWS SageMaker. For this, I need the smallest possible docker image to start with before installing other libraries.

I was thinking of using Python3.8-slim:buster but I'm thinking the container described here would be even better:
https://rapids.ai/start.html

I then ran into the documentation in Docker Hub that there is also

[2021-01-24 21:59] miguelusque opened #249 "[FEA] Display volume binding message only if not done by the user"
**Is your feature request related to a problem? Please describe.**
Currently, the following message is always displayed regardless if the user has mounted a volume on the desired path:

**Describe the solution you'd like**
It would be great to double-check if the path exists before displaying the message.

[2021-01-25 10:22] saleen-art opened #251 "[BUG]"
**Describe the bug**
Cannot install packages in RAPIDS container

**Steps/Code to reproduce bug**
Dockerfile
[code]

Error:
[code]

**Expected behavior**
Docker container should be created.

 - AWS t3a.medium instance is used to create the docker container from the Dockerfile above

[2021-01-25 15:15] saleen-art commented on #251
This looks like fixed now.

The issue below may be similar.

#https://github.com/QuickLogic-Corp/quicklogic-fpga-toolchain/issues/55

[2021-01-25 20:31] #249 closed

[2021-01-25 20:58] #251 closed

[2021-01-27 16:46] kkraus14 commented on #253
Transferred issue to `docker` repo as it's more appropriate. You can see the image descriptions here: https://github.com/rapidsai/docker#image-types.

Using the `core` images definitely sounds like the correct route for you. I'm not sure the difference between those two tags, maybe someone else can chime in?

[2021-01-27 17:03] ajschmidt8 commented on #253
Hi @arlenis65. Keith is correct about the `core` images being right for you. Regarding these two tags:

- rapidsai/rapidsai-core-nightly:cuda11.0-base-ubuntu20.04
- rapidsai/rapidsai-core-nightly:cuda11.0-base-ubuntu20.04-py3.8

The first image uses our Dockerfile's default Python version, which is `3.7` ([src](https://github.com/rapidsai/docker/blob/branch-0.18/generated-dockerfiles/rapidsai-core

[2021-01-29 16:52] laszloz opened #254 "[BUG] Crashing apt-get in 0.18 nightly Ubuntu 20.04 image"
**Describe the bug**
When building an image on _rapidsai/rapidsai-nightly:0.18-cuda11.0-base-ubuntu20.04-py3.8_ running apt-get update crashes on start.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
Apt can install packages.

**Environment details (please complete the following information):**
[code]
Output:
[code]
Docker version I use:
[code]
[code]
**Additional context**
This or

[2021-02-02 15:41] #253 closed

[2021-02-05 20:02] ajschmidt8 commented on #254
@laszloz, thanks for bringing this to our attention. We recently updated our build stack. From some local testing, it seems that this has resolved the `apt-get` issues you were experiencing. Can you pull the latest nightlies to confirm?

You may still see the error message below when the container starts. This is a known issue that we're working to resolve, but should not affect the functionality

[2021-02-08 15:04] laszloz commented on #254
@ajschmidt8 thank you, `apt-get` seems to be working with the latest nightlies.
A minor issue I've seen is if I start `nano` (installed from the official ubuntu repos) it crashes with Segmentation fault on startup. This might be connected to the previous issue although it does not block me at the moment.

[2021-02-08 15:14] #254 closed

[2021-03-05 20:43] ajschmidt8 commented on #214
@jacobtomlinson, what's the use case for this? any reason why it couldn't be installed at runtime?

[2021-03-05 20:56] jacobtomlinson commented on #214
I totally appreciate that, but SSH is a pretty standard utility, and small too.

The use case for this was needing to port forward a Dask cluster connection from another machine.

To be honest I was just surprised that it wasn't already included.

[2021-03-05 21:09] ajschmidt8 commented on #214
Yes, it is small. And standard too. But it doesn't seem uncommon for other images to not include it (see the Ubuntu image below). I'm hesitant to suggest that we should add it to our images since this is only the first time it's been requested and since it can be easily installed at runtime. Can you use the `EXTRA_APT_PACKAGES` environment variable that we introduced previously? That seems like a

[2021-03-08 10:30] jacobtomlinson commented on #214
I think given that the RAPIDS image is intended to be used as an interactive Data Science environment where users will be actively working it makes sense to include a few more standard Linux utilities.

The base ubuntu image is typically not intended for interactive use in the same way, so I don't think it's a fair comparison.

[2021-03-08 15:48] ajschmidt8 commented on #214
Ok. Sounds like this would benefit RAPIDS users, so if you open a PR for this, I will review/approve and merge it.

[2021-03-08 16:17] #214 closed

[2021-03-09 09:48] jacobtomlinson commented on #214
Thanks @ajschmidt8

[2021-04-14 08:27] pseudotensor opened #302 "[BUG] cuhornet error on Docker build"
in branch "branch-0.18"

[code]

Goes for a while, then hits:

...
populating cuhornet
Scanning dependencies of target cuhornet-populate
[ 11%] Creating directories for 'cuhornet-populate'
[ 22%] Performing download step (git clone) for 'cuhornet-populate'
Cloning into 'cuhornet-src'...
fatal: reference is not a tree: 9cb8e8803852bd895a9c95c0fe778ad6eeefa7ad
CMake Error at cuhornet-subbuild/cuhorn

[2021-04-14 19:53] afender commented on #302
Thanks for catching that. Trying to disable GIT_SHALLOW there: https://github.com/rapidsai/cugraph/pull/1535

[2021-04-14 20:11] raydouglass commented on #302
The cugraph PR is merged, so this issue should be resolved. Feel free to reopen if necessary. Thanks again for reporting the issue @pseudotensor!

[2021-04-14 20:11] #302 closed

[2021-04-15 01:30] pseudotensor opened #304 "[QST] cuda 11.2 for rapids"
I'm confused what the release schedule is like for rapids.  It seems only cuda 11.0 is available as docker for build, final image, and conda files.

However, there is a cuda toolkit==11.1 and 11.2, but no rapids matching.

Feature request would be to push to conda the other patched revision versions of latest cuda toolkit version at least, e.g. 11.2 for now.

Also, you can see that torch 1.8.1 say

[2021-04-15 19:14] buckeye17 opened #305 "Running python script in docker container"
I'm attempting to run a python web app which has several dask & CUDA related libraries inside a rapids docker container.  Here's my docker command:
[code]
Once the command runs and I get terminal access to the container, I run my python web app and get the following error message:
[code]
If I modify the `docker run` command shown above by adding the `--gpus all` flag, the docker container fails to

[2021-04-16 14:15] ajschmidt8 commented on #304
Hi @pseudotensor,

To answer your questions:

We currently post our release schedule on our website here: https://docs.rapids.ai/maintainers

CUDA 11.2 support will be released in RAPIDS v0.19. Our current `0.19` [nightly images](https://hub.docker.com/r/rapidsai/rapidsai-nightly/tags?page=1&ordering=last_updated&name=0.19-cuda11.2) and [nightly conda packages](https://anaconda.org/rapidsai-nightl

[2021-04-16 14:51] ajschmidt8 commented on #305
Hi @buckeye17,

The second error message that you posted:

[code]

could indicate an issue with the NVIDIA drivers installed on your machine. Can you run the following command on the host machine and post the output here?

[code]

[2021-04-16 17:27] pseudotensor commented on #304
Thanks, that's great.  Thanks for pointing to the release schedule.  I don't see there or elsewhere the fact that cuda 11.2 will be supported for rapids 0.19, but I guess one can gather it from the nightly images/packages.  Thanks!

[2021-04-16 18:22] pseudotensor commented on #304
Slight follow-up.  I tried:
[code]
and this does not work due to conflicts.  So I guess nightly 0.19 support is only for cuda toolkit 11.2 and not 11.2.2?

[2021-04-16 19:45] ajschmidt8 commented on #304
@pseudotensor, Do you need `11.2.2` exactly? After using the command below to create a minimal `rapids` environment, conda installs `cudatoolkit-11.2.72`. Changing the command below to use `cudatoolkit=11.2.2` instead of `cudatoolkit=11.2` did fail for me locally though.

[code]

I can't speak to the compatibility of the all 3rd party libraries you have listed in your command. I would recommend in

[2021-04-16 20:07] pseudotensor commented on #304
Yes, I guess it's not clear what is 11.2.2. vs. 11.2.72 etc.

I'm particularly interested in this issue because if I install docker with some cuda as base image, then also use conda to install condatoolkit, then I have a duplicate install of cuda and it takes alot of extra space.  One might imagine de-dupping the install, but that is only possible if the versions match exactly.

Or do you have som

[2021-04-16 20:47] kkraus14 commented on #304
@pseudotensor this is a bug on our end with regards to `cudatoolkit` versioning. We were originally following the versioning of the cuda runtime which is 11.2.72 but then moved to align to conda-forge which is just using release versioning of 11.2.2. Now it looks like we're getting builds against 11.2.72 which then causes a constraint of `>=11.2.72,<11.3.0a0`.

We'll dig in and resolve this. Thank

[2021-04-17 00:27] pseudotensor commented on #304
Also see this from same conda setup when doing any pip install of anything.
[code]
I can install cupy-cuda112, but why does dask-cudf and cudf require different cuda110 vs. cuda112 for rapids 0.19?

[2021-04-19 18:18] buckeye17 commented on #305
@ajschmidt8 Thanks for your help!  When I tried running `nvidia-smi` the command also failed to run, which was new development (I had run it dozens of times earlier in the week).  I asked an admin to take a look and he simply reset the machine.  Mysteriously, this seems to have fixed all of my problems.  Since my issue has been resolved, I've closed the the issue.

[2021-04-19 18:18] #305 closed

[2021-04-19 19:46] ajschmidt8 commented on #205
@jacobtomlinson, are you aware of the [rapidsai/cloud-ml-examples](https://github.com/rapidsai/cloud-ml-examples) images? They are built on top of the RAPIDs images and have `azureml-sdk` baked in ([link](https://github.com/rapidsai/cloud-ml-examples/blob/main/common/docker/Dockerfile.training.unified#L70-L73)).

[2021-04-20 04:20] buckeye17 opened #306 "[QST] Divying GPUs to two Docker containers"
I'm working on a machine that has 4 GPUs.  I'd like to use 2 GPUs for development and 2 for testing simultaneously.  If I launch these applications using my conda environment on the host machine, I can manually assign the GPUs using `cluster = LocalCUDACluster(CUDA_VISIBLE_DEVICES=[0,1])` & `cluster = LocalCUDACluster(CUDA_VISIBLE_DEVICES=[2,3])`.  This works fine.

I'd like to be able to do this

[2021-04-20 13:43] jacobtomlinson commented on #205
Ah awesome. That may be a good way forward then. Thanks @ajschmidt8

[2021-04-20 13:43] #205 closed

[2021-04-20 18:04] buckeye17 commented on #306
A colleague of mine found another [Github issue](https://github.com/NVIDIA/nvidia-docker/issues/1257) which addressed the same problem.  The workaround is to wrap the value of the option in quotes as follows.
[code]

[2021-04-20 18:05] buckeye17 commented on #306
A colleague of mine found another [Github issue](https://github.com/NVIDIA/nvidia-docker/issues/1257) which addressed the same problem.  The workaround is to wrap the value of the option in quotes as follows.
[code]

[2021-04-20 18:05] #306 closed

[2021-04-20 21:21] pseudotensor commented on #304
@kkraus14

A related problem is that tensorflow 2 has "bug" that repeats ptxas check many times, leading to crazy slow use with cuda and conda.  A solution in conda is to install the cudatoolkit-dev that includes ptxas.  However, the cudatoolkit and cudatoolkit-dev are out of sync.

So one ends up with 11.2 and 11.0 cuda.

These kind of sync issues between rapids, cuda, docker images, etc. would r

[2021-04-21 02:09] kkraus14 commented on #304
This is not an issue the RAPIDS team can solve and RAPIDS is not dependent on `ptxas`. `ptxas` is not redistributable per the CUDA EULA and I don't believe is included in the cuda runtime docker images.

You could probably create a new base image from the cuda dev images and pay the size cost of having duplicate cuda toolkit libraries installed (system and conda) which would likely solve the probl

[2021-04-21 02:23] pseudotensor commented on #304
Yes, I understand.  I was giving context for a problem that does exist in general, which is all the various conda packages available are not entirely consistent.  cudatoolkit and cudatoolkit-dev do not have matching versions.

This does affect RAPIDS use since one will try (of course) to install rapids + tensorflow.  One cannot only think of how RAPIDS is built, but how it's used.

[2021-04-21 18:00] kkraus14 commented on #304
`cudatoolkit-dev` is not a package that we're involved in and generally isn't something that's supported by NVIDIA in any way.

Yes I'm very aware, but we unfortunately can't control the entire ecosystem. We don't control the CUDA EULA and what can or can't be redistributed. I've escalated internally and am trying to push things in the right direction. We're working on improving the ability to bui

[2021-05-04 21:32] Meryam1985 opened #318 "[BUG]"
**Describe the bug**
Hello
I have a problem installing dmriprep:
when i type the make docker command, the terminal loops infinitely, displaying this message.

Warning: you have pip-installed dependencies in your environment file, but you do not list pip itself as one of your conda dependencies.  Conda may not use the correct pip to install your packages, and they may end up in the wrong place.  Pl

[2021-05-05 14:16] ajschmidt8 commented on #318
@Meryam1985, can you elaborate on this? Which Docker image are you using? What is the exact command that you're running?

[2021-05-07 13:14] Meryam1985 commented on #318
Hello
thanks for your cooperation ... this problem is solved when i used these instructions

From sources
The sources for dmriprep can be downloaded from the Github repo.
You can either clone the public repository:

$ git clone git://github.com/nipy/dmriprep
$ python setup.py install

cordially

[2021-05-20 13:58] mattf opened #325 "[BUG] notebooks frozen at branch=0.16 in runtime image"
**Describe the bug**
the notebooks are frozen at branch=0.16

this is an issue because apis have changed since 0.16, e.g. add_column and set_index takes a keys param instead of index

this reproduces in 0.18 and 0.19 but not nightly (currently 0.20). it should be verified fixed with the final 21.06 release images.

**Steps/Code to reproduce bug**
[code]
this does not reproduce for nightly images
[

[2021-05-21 14:57] ajschmidt8 commented on #325
Hey @mattf, thanks for bringing this to our attention. Our stable Docker images clone the `main` branch from our [notebooks repo](https://github.com/rapidsai/notebooks/tree/main) and it seems that we haven't been keeping that branch up to date as we should. I will make our team aware of this to ensure that it doesn't happen again during the `21.06` release.

Since there is no further action requir

[2021-05-21 14:57] #325 closed

[2021-05-24 17:59] jacobtomlinson opened #327 "Handle quoted commands for entrypoints"
As discussed in a sync with @raydouglass and @ajschmidt8 it would be great to have support for quoted commands in the entrypoint script.

Currently the entrypoint contains `exec "$@"`. If the command itself is quoted this ends up being double quoted and fails.

The proposed solution from @raydouglass is to add a flag to the entrypoint which allows these quotes to be disabled. Having an environment

[2021-07-05 16:05] rg2009 commented on #304
error running rapidsai on AWS Deep Learning AMI

ubuntu@ip-10-119-22-175:~$ sudo docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 rapidsai/rapidsai:cuda10.2-runtime-ubuntu18.04
docker: Error response from daemon: OCI runtime create failed: container_linux.go:380: starting container process caused: process_linux.go:545: container init caused: Running hook #0:: error running hoo

[2021-07-17 16:56] alborotogarcia commented on #304
FYI @kkraus14 @pseudotensor just tested that tensorflow-gpu 2.5.0 works fine with rapidsai by installing from esri's channel
` conda install -c esri tensorflow-gpu `
though this also installs cudnn 8.1 in docker image.

[2021-07-26 16:37] jacobtomlinson opened #351 "[FEA] Disable Jupyter background launch in runtime notebooks"
Today I ran a Python GPU tutorial for EuroPython. To run the training I launched an instance of [Binder](https://github.com/jupyterhub/binderhub) on GKE which was configured to have one GPU per participant so that they could work through the examples.

Binder can take a GitHub repo and builds it into a Docker image which is then executed by JupyterHub. One way you can configure this is to provide

[2021-08-05 13:07] keuperj opened #353 "[BUG] NCCL_ERROR in all Dask cuML examples"
**Describe the bug**
I get the following error:

RuntimeError: NCCL_ERROR: b'unhandled system error'

when running the cuML examples in the container on DASK.

**Steps/Code to reproduce bug**

Setup of a DASK scheduler and several DASK worker nodes using the container. DASK is working in this setup (Dashboard shows the workers and the Scikit-Learn reference examples also work in this setup. Also,

[2021-08-05 14:17] keuperj commented on #353
[code]

[code]

[2021-08-12 15:37] ajschmidt8 commented on #351
Hey @jacobtomlinson. I'm currently working on this. I'll post a link to the PR here when it's ready.

[2021-08-12 16:11] ajschmidt8 commented on #351
PR here: https://github.com/rapidsai/docker/pull/356

[2021-08-12 16:24] #351 closed

[2021-08-16 09:24] jacobtomlinson commented on #351
Thanks @ajschmidt8

[2021-09-09 17:15] sriramch opened #361 "[BUG] return error codes aren't checked when the extra package installation fails"
**Describe the bug**
presently, when we use the RAPIDS nightly image, we specify extra APT/PIP packages etc. to install [thusly](https://github.com/rapidsai/docker/blob/branch-21.10/context/packages.sh#L11). however, when those packages can't be installed for whatever reason, that error code isn't propagate back to the [caller](https://github.com/rapidsai/docker/blob/branch-21.10/context/entrypoin

[2021-09-09 18:19] jacobtomlinson commented on #361
Thanks @sriramch.

It looks like the entrypoint script will continue regardless of any failures in any commands. Perhaps we want to add `set -e` on it?

[2021-09-13 16:43] ajschmidt8 commented on #361
@sriramch, @jacobtomlinson thanks for bringing this to our attention. Like Jacob mentioned, it seems that a `set -e` will fix this. I'll try to knock this out this week when I have some time.

[2021-09-13 18:03] sriramch commented on #361
thanks @ajschmidt8. a reason why `set -e` isn't preferable is documented [here](http://mywiki.wooledge.org/BashFAQ/105)

[2021-09-16 08:51] jacobtomlinson opened #365 "[BUG] Bad conda package installs hang container startup"
**Describe the bug**
When using the `EXTRA_CONDA_PACKAGES` environment variable conda is invoked by the entrypoint script to install packages before the main process is started.

If a user provides a package that cannot be resolved by conda (e.g `pytorch`) then this hangs and the container never starts.

**Steps/Code to reproduce bug**
[code]

You can also reproduce this by starting the container

[2021-09-20 16:16] jacobtomlinson commented on #361
I agree that `set -e ` isn't perfect but I think it's an improvement on what we have now (nothing).

[2021-09-20 21:02] #361 closed

[2021-09-21 14:11] #365 closed

[2021-09-24 15:39] rshankk opened #369 "[BUG]"
**Describe the bug**

The RAPIDS entry point script triggers start_jupyter.sh to bring up the jupyer notebook. When we run the dask scheduler and worker on different nodes using the RAPIDS image, it triggers start of jupyter notebook on the worker nodes too which is unnecessary. EntryPoint script should provide a config option to not to trigger start_jupyter.sh so that jupyter notebook can be brou

[2021-09-24 18:05] ajschmidt8 commented on #369
@rshankk, there is an environment variable, `DISABLE_JUPYTER`, that can be set at runtime to disable JupyterLab from starting automatically with the container. For instance, you should be able to do run the following code to prevent JupyterLab from running at start up:

[code]

This functionality is documented on our DockerHub README [here](https://hub.docker.com/r/rapidsai/rapidsai). Please let m

[2021-10-06 18:02] ajschmidt8 commented on #369
Closing issue.

[2021-10-06 18:02] #369 closed

[2021-10-13 15:58] Riebart opened #386 "[BUG] Regression introduced by combination of #250 and # 366 causes entrypoint error if directory mounted to /rapids/notebooks/host"
**Describe the bug**
When a user does as directed, and `-v /host/dir:/rapids/notebooks/host`, the "only display mount note if user hasn't already" (#250) message check returns an exit code of `1`, and the overall entrypoint scripts `set -e` (#366) at the top then sees the non-zero return code throw an error when attempting to source that file.

This causes the entrypoint script to immediately term

[2021-10-15 13:31] #386 closed, assigned to nobody

[2021-11-04 07:06] theBull commented on #62
For some reason, on a Mac, after running the jupyter in the docker container, what worked for me was `http://mac-mini.home:8888` instead of `localhost`. "Mac-mini.home" happens to be the name of my machine, or what is returned when running `hostname` in a terminal. So using the output of `hostname` instead of `localhost` in my browser fixed the issue for me. I'd rather figure out where in the jupy

[2021-12-09 15:41] rahulgupta271 opened #405 "CUDA : N/A on docker container"
While using below Release

rapidsai/rapidsai:21.10-cuda11.0-runtime-centos7-py3.7 we are seeing **CUDA Version: N/A** . seems issues ith CUDA toolkit.

Also i am not seeing the cuda lib initilizing while launching a container:

sh-4.2# nvidia-smi
Thu Dec  9 15:21:09 2021
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 450.36.06    Driver Version: 450.36

[2021-12-09 17:58] ajschmidt8 commented on #405
Hi @rahulgupta271. Can you provide the commands that you're using to start the container?

[2021-12-09 18:07] rahulgupta271 commented on #405
Thanks for your response.

/usr/bin/docker run -dit --gpus '"device=0"' --memory="56g" --cpus="6"  --runtime=nvidia  --name rapid-device-gpu --expose=8888 -v /home/aa01/air9-ocp/users-home/gpu/nromane:/tf/files -p 10065:8888 -p 10067:8787 -p 10068:8786 -p 10066:6006 ab8c28f61ccc

[2021-12-09 18:41] ajschmidt8 commented on #405
Thanks for this information. I'm unable to replicate the problem on my end. I suspect there could be an issue with your host machine setup. Can you provide the following?

1) The output of `nvidia-smi` on the host machine (i.e. not in the container)
2) The output of `nvidia-docker version` on the host machine
3) The output of `docker run --rm -it --runtime=nvidia rapidsai/rapidsai:21.10-cuda11.0-r

[2021-12-16 18:18] singlecheeze opened #416 "[BUG] Docker hub images aren't present"
Docker hub images aren't present for nightly 22.02 for most images, and the ones there don't have complete image set for older CUDA than 11.5
![Screenshot from 2021-12-16 13-14-17](https://user-images.githubusercontent.com/12156213/146426838-ba9cac08-4da9-42b0-a65d-a55c452dc008.png)
![Screenshot from 2021-12-16 13-13-12](https://user-images.githubusercontent.com/12156213/146426839-d0b6382e-6ca2-47

[2021-12-16 19:02] ajschmidt8 commented on #416
Thanks for bringing this to our attention. The `22.02` images are currently experiencing some builds issues that we will be working to address in the coming days.

[2022-02-25 15:56] ajschmidt8 commented on #416
The `22.02` images are currently released. Closing this issue.

[2022-02-25 15:56] #416 closed

[2022-03-07 15:48] ajschmidt8 commented on #405
@rahulgupta271, apologies for the late reply here. As indicated on our website below, the minimum supported CUDA driver for RAPIDS is `450.80.02`. It seems that your host machine has driver `450.36.06`, which is older than our minimum supported version. Can you upgrade the driver version on your host machine and try again?

https://rapids.ai/start.html

[2022-03-09 02:42] ajschmidt8 commented on #405
Closing issues

[2022-03-09 02:42] #405 closed

[2022-03-17 16:45] jacobtomlinson opened #438 "[BUG] Environment not set correctly when using `docker exec`"
**Describe the bug**
When using `docker exec` with inline bash commands the environment and path is not set correctly.

**Steps/Code to reproduce bug**

[code]

**Additional context**
The exec is being used by an external health check to ensure Dask is installed in the container. I need to be able to run a one-line exec that verifies that `dask-scheduler` can be called. I can work around by settin

[2022-03-21 02:13] daxiongshu opened #439 "[FEA] Install RAPIDS libraries in the default conda environment"
**Is your feature request related to a problem? Please describe.**
Currently, RAPIDS libraries are installed in the `rapids` conda environment instead of the default conda environment `base` in the rapids docker image `rapidsai/rapidsai-core:22.02-cuda11.5-base-ubuntu20.04-py3.8`. This creates a problem when the default environment `base` is forced to be used or there is no way to activate `rapids

[2022-03-21 02:14] daxiongshu commented on #439
A related issue might be issue #438

[2022-03-22 14:01] ajschmidt8 commented on #439
@daxiongshu, thanks for bringing this to our attention. We are currently exploring removing the `rapids` conda environment and using the default `base` conda environment instead. This will require a lot of changes to our images and the associated CI, so there is no ETA at this moment.

[2022-03-22 17:37] #304 closed

[2022-03-23 17:01] lmeyerov opened #442 "[FEA] Weekly/monthly stable builds?"
**Is your feature request related to a problem? Please describe.**
We're basing off of official stable images, but given it is 2-3mo between official releases, that means base container CVEs light up security scanners. As a workaround, we're installing security updates in our images, but that's an anti-pattern, e.g., the images are already pretty huge.

**Describe the solution you'd like**
We'd li

[2022-03-23 19:25] ajschmidt8 commented on #442
While we can't do stable releases any more frequently than we already do, we can try our best to address any CVEs that pop up in the currently released stable images. If you see any unresolved CVEs, feel free to open an issue here and we can look into it.

I will close this issue.

[2022-03-23 19:25] #442 closed

[2022-03-23 20:00] lmeyerov commented on #442
Yes, there are ~3 ubuntu CVEs in 2022.02 that are all addressable, afaict, from `apt upgrade` - these were caught by out-of-the-box defender scans

[2022-03-24 14:37] ajschmidt8 commented on #442
@lmeyerov, which of our containers do you use? `base`, `runtime`, or `devel`?

[2022-03-24 15:41] lmeyerov commented on #442
@ajschmidt8  see below - due to the `fixable` flag, many of the OS ones go away with just an `apt` update or newer base (and confirmed in our testing)

And if it helps,  I'm not advocating for faster major releases, in case that was unclear ;-) Something like daily scans for team visibility, + weekly/monthly minor OS patches. It's largely ok if actual python deps are pinned until things get easier

[2022-03-24 15:44] ajschmidt8 commented on #442
Got it. @lmeyerov, I will kick off new container builds, which do an `apt update && apt upgrade` and should therefore address some of these that you mentioned

[2022-03-25 15:05] ajschmidt8 commented on #442
@lmeyerov, new containers with the latest `apt` packages should be available now

[2022-03-25 21:13] lmeyerov commented on #442
Excellent, will give it a go!

[2022-03-26 04:20] lmeyerov commented on #442
Great -- the base image now only shows CVEs (including critical) relating to `dask_sql`, and the rest are gone ( https://github.com/dask-contrib/dask-sql/issues/438#issuecomment-1077640947 )

[2022-05-04 19:16] bsuryadevara opened #469 "[BUG] Missing 'transformers' Dependency"
Huggingface Transformers dependency is missing in `clx-runtime` containers. Notebooks in the `clx-runtime` throwing below error.
[code]

[2022-05-05 15:09] martham93 opened #471 "[BUG]"
**Describe the bug**
[NIVIDA recently rotated public keys](https://forums.developer.nvidia.com/t/notice-cuda-linux-repository-key-rotation/212771) and using a rapids base image such as causes an error during docker build
[code]

**Expected behavior**
Successful build

**Additional context**
As a workaround adding

[code]
to the docker file helps.

Is there anything that can be changed in the rapid

[2022-05-05 21:42] PingHao opened #472 "[BUG] Nightly Container start failed with extra conda package"
**Describe the bug**
With latest nightly image _rapidsai/rapidsai-core-nightly:22.06-cuda11.0-runtime-ubuntu18.04-py3.8_, id 503c9ffc2d9f, start container with EXTRA_CONDA_PACKAGES set would failed.

Stable image don't have this issue, tested with _rapidsai/rapidsai-core:22.04-cuda11.0-runtime-ubuntu18.04-py3.8_

**Steps/Code to reproduce bug**
[code]
**Expected behavior**
no error with _EXTRA_CON

[2022-05-06 13:31] ajschmidt8 commented on #472
@PingHao, we can't make any guarantees about the compatibility of 3rd-party packages with our containers. It's possible that the existing dependencies within the container have changed between the last stable release and the current nightly release. This could be contributing to the issue with conda not correctly solving the environment.

Unfortunately there's nothing more we can do here, so I wil

[2022-05-06 13:31] #472 closed

[2022-05-06 14:46] martham93 commented on #471
thanks so much @ajschmidt8

the image is `rapidsai/rapidsai-core:22.04-cuda11.0-runtime-ubuntu20.04-py3.8` , and the commands that fail are both
`docker-compose` and `docker build -f ./Dockerfile.gpu`

the dockerfile has the step `RUN apt-get update --fix-missing && apt-get install -y curl figlet`, and  where it fails with the public key issue

[code]

[2022-05-06 16:11] trifle opened #473 "[BUG?] nvcc missing in core image"
**Describe the bug**
A clear and concise description of what the bug is.

It seems that nvcc is missing from the base image that is recommended by the [picker](https://rapids.ai/start.html#get-rapids)

**Steps/Code to reproduce bug**
run
[code]

**Expected behavior**
I would expect nvcc to be present since it's required to run things in the examples repository, such as https://github.com/rapidsai/

[2022-05-06 16:23] trifle commented on #473
Well that was stupid of me, it's of course in the `-dev` tagged images.

By the way, not your fault, but the fact that we have six layers of potential incompatibility in this tech stack is really bankruptcy. I fully expect that I won't be able to run any cuda project at all soon. We have:

21.10- # library version
cuda11.4- # driver and core libraries version
devel- # scope of included dependencie

[2022-05-06 16:23] #473 closed

[2022-05-06 19:32] ajschmidt8 commented on #471
@martham93, I see. We fixed this issue in our nightly containers, but not the stable containers. I will make sure we get a fix for the stable images out. The fix is below if you'd like to add it to your Dockerfile now:

[code]

[2022-05-06 21:55] martham93 commented on #471
awesome thanks so much! @ajschmidt8

[2022-05-09 18:28] #469 closed

[2022-08-05 21:01] ajschmidt8 opened #487 "Update `cudf` build command"
The `cudf` build command below needs to be updated to match https://github.com/rapidsai/cudf/pull/11470 once we create a `branch-22.10` branch for this repository. Namely, we need to add a `--cmake-args=\"-DCUDF_ENABLE_ARROW_S3=ON\"` flag.

- https://github.com/rapidsai/docker/blob/2671ef05ffd768034cebcb953977f7bd7ce84471/templates/rapidsai-core/Devel.dockerfile.j2#L114-L115

[2022-08-14 16:58] rohitdwivedula opened #489 "[BUG] Basic linux commands (nano, htop) cause segmentation faults in a dev image"
**Describe the bug**
This is the problematic docker image: `rapidsai/rapidsai-core-dev:22.06-cuda11.5-devel-ubuntu20.04-py3.9`. After pulling this image and running this container using the instructions given in the [release selector](https://rapids.ai/start.html#rapids-release-selector), trying to use basic commands like `nano` or `htop` from the command line results in `Segmentation fault (core

[2022-08-14 17:04] rohitdwivedula commented on #489
Some additional information about the machine I ran it on:

[code]
[code]

[code]

[code]

[2022-10-14 15:50] jacobtomlinson opened #504 "[QST] Can we remove old tags"
**What is your question?**

I noticed a user today trying to use `rapidsai/rapidsai:latest`. Could we clean up old tags that we are no longer pushing to to avoid this confusion?